/*  ----------- Fontes ---------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* ---------- Global ---------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.size-box{
   height: 600px; 
}

body{
    font-family: Didact Gothic;
}

/* ---------- Background ---------- */
.bg-color{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.margin-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ---------- Header ---------- */
#logo{
    margin-left: 45px;
    font-family: Rubik;
}

ul{
    display: flex;
}

li{
    padding: 10px;
    margin-right: 5px;
    list-style: none;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    padding: 5px;
    color: white;
}

a:hover{
    opacity: 0.5;

}

/*---------- Title ----------*/
.heading{
    padding: 21px 5px;
    color: white;
    font-size: 40px;
    width: 69%;
    font-family: Rubik;
    margin: auto;
    margin-top: 150px;

}

.paragraph{
    max-width: 50%;
    margin: auto;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}